@import '../../styles/mixins';

.capture-default-page {
  .app-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
    overflow: hidden;
    position: relative;
  }

  .app-title {
   color: red;
   padding: 20px
  }

  .app-intro {
    font-size: large;
    padding: 5%;
    margin-top: -67px;
  }
  .workersName{
    margin-bottom: -84px;
  }
  .info{
    margin-right: 100%;
  }
}
