@import '../../styles/mixins';

.home-default-page {
  text-align: center;
  .app {
    text-align: center;
  }

  .app-logo {
    animation: app-logo-spin infinite 10s linear;
    height: 80px;
  }

  .rekit-logo {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0.08;
    height: 190px;
  }

  .app-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
    overflow: hidden;
    position: relative;
  }

  .app-title {
   color: red;
   padding: 20px
  }

  .app-intro {
    font-size: large;
    padding: 5%;
    margin-top: -67px;
  }

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul {
    margin-top: 20px;
  }
  li {
    margin-top: 10px;
  }

  a {
    color: #0288d1;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  p.memo {
    width: 500px;
    color: #999;
    font-size: 12px;
    line-height: 150%;
    margin: auto;
  }

  @keyframes app-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .sortable-table .table thead th {
    background-color: #a50404;
  }
  .btn-warning.disabled, .btn-warning:disabled {
    color: #ffffff;
    background-color: #dc3545;
    border-color: #000000;
  }
  .sortable-table .pager select.page-select {
    width: 74px;
    height: 35px;
  }
  .sortable-table .table tbody tr td{
      background-color: #dcdcdc;
  }
  .workersName{
    margin-bottom: -84px;
  }
}
